[submodule "modules/lim"]
	path = modules/home-manager/lim
	url = https://github.com/lloyd-g-w/lim.git
	branch = main
[submodule "modules/home-manager/latus"]
	path = modules/home-manager/latus
	url = git@github.com:lloyd-g-w/latus.git
[submodule "pkgs/latus"]
	path = pkgs/latus
	url = git@github.com:lloyd-g-w/latus.git
