* {
  font-size: 16px;
  font-family: "Jetbrains Mono Nerd Font";
}
window#waybar {
  /* all:unset; */
}
.modules-left {
  padding: 7px;
}
.modules-center {
  padding: 7px;
}
.modules-right {
  padding: 7px 0px 7px 7px;
}
tooltip {
  background: grey;
  color: white;
}
#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#custom-poweroff:hover {
  transition: all 0.3s ease;
  color: #858585;
}
#custom-poweroff {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: white;
}
#pulseaudio {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#custom-notification {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#clock {
  padding: 0px 5px;
  color: white;
  transition: all 0.3s ease;
}
#custom-pacman {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#workspaces {
  min-width: 0;
  border: none;
  /* Transition for background-color and color only */
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#workspaces {
  margin-right: 5px; /* Spacing after the workspaces module */
}

#workspaces button.active {
  color: #e6e6e6; /* light grey text */
  background-color: rgba(230, 230, 230, 0.06); /* very soft light overlay */
}

#workspaces button:hover {
  background: #2a2a2a; /* mid-dark grey */
  color: #f5f5f5; /* almost white text */
}

#bluetooth {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#network {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#battery {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
#custom-expand {
  padding: 0px 5px;
  color: alpha(grey, 0.2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}
#custom-expand:hover {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
#custom-colorpicker {
  padding: 0px 5px;
}
#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: white;
}
#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
